.todo_form {
	width: 36rem;
	height: 5.5rem;
	border-radius: 1rem;
	border: 2px solid orange;
	box-shadow: -2px -2px 2px gold, 2px 2px 2px gold;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.form_text {
	width: 18rem;
	height: 3rem;
	font-size: 1rem;
	background-color: black;
	box-shadow: -3px -3px 3px gray inset, 3px 3px 3px gray inset;
	padding-left: 0.5rem;
	color: #fff;
	border-style: none;
}
.form_text.error:invalid {
	box-shadow: -3px -3px 3px red inset, 3px 3px 3px red inset;
}
.form_text_wrapper::after {
	content: 'Invalid value';
	display: block;
	position: relative;
	color: #fff;
	background-color: red;
	width: 100%;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	top: 22%;
	font-size: 0rem;
	height: 0rem;
	-webkit-transition: height 250ms ease-in, font-size 150ms step-end;
	transition: height 250ms ease-in, font-size 150ms step-end;
}
.form_text_wrapper.error::after {
	height: 1.5rem;
	font-size: 0.72rem;
}
.check_repeat_wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.check_enable_wrapper::after {
	content: 'disable';
	display: inline-block;
	color: #fff;
	font-size: 0.8rem;
	margin-left: 0.1rem;
}
.check_repeat_wrapper::after {
	content: 'repeat';
	display: inline-block;
	color: #fff;
	font-size: 0.8rem;
	margin-left: 0.1rem;
}
.time_wrapper {
	display: flex;
	flex-direction: row;
}
.form_time {
	width: 6rem;
	height: 3rem;
	font-size: 1.2rem;
	background-color: black;
	box-shadow: -3px -3px 3px gray inset, 3px 3px 3px gray inset;
	color: #fff;
	border-style: none;
	text-align: center;
}
input[type='time']::-webkit-datetime-edit-ampm-field {
	display: none !important;
}
.time_options_wrapper {
	display: flex;
	flex-direction: row;
	margin-right: 1rem;
}
.form_time.error:invalid {
	box-shadow: -3px -3px 3px red inset, 3px 3px 3px red inset;
}
.form_time_wrapper::after {
	content: 'Invalid value';
	display: block;
	position: relative;
	color: #fff;
	background-color: red;
	width: 100%;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	top: 22%;
	font-size: 0;
	height: 0;
	-webkit-transition: height 250ms ease-in, font-size 150ms step-end;
	transition: height 250ms ease-in, font-size 150ms step-end;
}
.form_time_wrapper.error::after {
	height: 1.5rem;
	font-size: 0.72rem;
}
@media (max-width: 40rem) {
	.todo_form {
		flex-wrap: wrap;
		width: 90vw;
		height: 11rem;
		margin-bottom: 2rem;
	}
	.form_text {
		width: 73vw;
		height: 2.5rem;
		font-size: 0.9rem;
	}
	.time_wrapper {
		width: 75vw;
		justify-content: space-between;
	}
	.form_time {
		height: 2.5rem;
		width: 5.2rem;
		font-size: 0.9rem;
	}
	.form_timer_options {
		margin-left: 0.5rem;
	}
	.form_text_wrapper.error::after {
		top: 24.4%;
	}
	.form_time_wrapper.error::after {
		top: 35.8%;
	}
}
.form_time.disabled {
	color: black;
	box-shadow: none;
}
.form_text:focus,
.form_time:focus {
	outline: none;
	box-shadow: -2px -2px 2px lightgray inset, 2px 2px 3px lightgray inset;
}
.todo_btn {
	height: 3rem;
	background-color: orange;
	border-style: none;
	border-radius: 1rem;
	width: 4rem;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	transition: background-color 300ms ease;
}
.todo_btn:hover {
	background-color: #ffd2b6;
	cursor: pointer;
}
.form_time_wrapper {
	display: flex;
	justify-content: left;
}
.form_timer_options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
}
