#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  display: flex;
  width: 40rem;
  height: 50rem;
  background: #0F303B;
  border-radius: 5%;
}
.App>h1{
  color: white;
  margin-bottom: 2rem;
}
@media (max-width:40rem){
  .App{
    width: 100vw;
    height: 90vh;
    overflow-y: auto;
    padding: 0.5rem;
  }
}
